node_modules
.git
.gitignore
README.md
.env*
.pytest_cache
dist
cdk.out
.idea
*.log
*.tmp
tests
docs
.github
.vscode
*.md
package-lock.json
yarn.lock
tsconfig.json
.eslintrc*
.prettierrc*
jest.config*
